body{
    background: black;
}

h2,h3,h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Cinzel', serif;
 }

.font-maleficent{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Cinzel', serif;
}


/*Add this to your css to change the element position*/

.carousel-caption {
    top:auto;
    bottom: 0;
}